
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: snow;
    color: black;
    font-family: 'Inter', sans-serif;
}
nav
{
    text-align: center;
    background-image: linear-gradient(to right, #42275a ,#734b6d);

    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2
    {
        color: white;
        font-size: 2rem;
    }

    ul
    {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 30px;

        li
        {
            a
            {
                font-size: 1rem;
                text-decoration: none;
                color: white;
                cursor: pointer;
                user-select: none;
            }
        }
    }

}


main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    font-size: 6vmax;
}

@media screen and (max-width:700px) 
{
    *
    {
        font-size: 18px;
    }
    nav 
    {

        row-gap: 30px;
        flex-direction: column;
    }    
}


@media screen and (max-width:400px) 
{
    *
    {
        font-size: 2.4vmax;
    }
    nav{
        ul{
            flex-direction: column;
            row-gap: 10px;
        }
    }
}
