*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: snow;
    color: black;
    font-family: sans-serif;
}
nav
{
    text-align: center;
    background-image: linear-gradient(to right, #42275a ,#734b6d);

    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2
    {
        color: white;
        font-size: 2rem;
    }

    ul
    {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 30px;

        li
        {
            a
            {
                font-size: 1rem;
                text-decoration: none;
                color: white;
                cursor: pointer;
                user-select: none;
            }
        }
    }

}

@media screen and (max-width:700px) 
{
    *
    {
        font-size: 18px;
    }
    nav 
    {

        row-gap: 30px;
        flex-direction: column;
    }    
}


@media screen and (max-width:400px) 
{
    *
    {
        font-size: 2.4vmax;
    }
    nav{
        ul{
            flex-direction: column;
            row-gap: 10px;
        }
    }
}



main{
    height: fit-content;

    border: 2px solid red;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;

    column-gap: 15px;
    row-gap: 25px;
}


.Card
{

    box-shadow: 0px 10px 20px rgb(179, 179, 179);
    // background-color: teal;
    color: white;
    padding: 10px 3px;

    // height: 30vmax;
    height: 590px;
    min-width: 350px;
    flex: 1;



.CardImage
{


    height: 60%;
    width: 100%;
    // border: 2px solid black;
    img
    {
        height: 100%;
        width: 100%;
        aspect-ratio: 3/2;
        object-fit: contain;
        object-position: center;
    }
}

}


.CardContent
{
    color: black;
    // border: 1px solid black;
    height: 40%;
    padding: 20px;
}

.CardContent p:nth-of-type(1)
{
    font-size: 1.6vmax;
}
.CardContent p:nth-of-type(2)
{
    font-size: 1.1vmax;
    margin-top: .5vmax;
    height: 70px;
    color: gray;
}

.CardContent p:nth-of-type(3)
{
    float: right;
}

.CardBtns
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.3vmax;

    // border: 1px solid gold;
    column-gap: 20px;

    // flex-direction: column;
}

.CardBtns button
{
    max-width: 160px;
    flex: 1;
    padding: .7vmax;

    background-color: rgb(28, 28, 28);
    border: none;
    border-radius: 30px;
    color: white;
    // font-size: 2.1vmax;
}

.CardBtns button:last-child
{
    background:transparent ;
    border: 2px solid black;
    color: black;
}


@media screen and (max-width: 768px) 
{



.CardContent p:nth-of-type(1)
{
    font-size: 2.1vmax;
}
.CardContent p:nth-of-type(2)
{
    font-size: 1.7vmax;
    margin-top: 1vmax;
    color: gray;
}

}